.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}
.about_wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;
}

.image {
  /* position: inherit; */
  margin-top: 15mm;
  border: 1.5mm solid rgb(30, 17, 40);
  border-radius: 5mm;
  max-width: 100%;
}
@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
  .about_wrapper {
    display: block;
  }
  .image {
    margin-left: 15mm;
    max-width: 70%;
  }
}

/* display: inline; */
/* align-items:flex-end;
   */
/* align-self: flex-end; */
/* position: absolute; */
/* position:relative; */
/* max-width: 30%; */
/* height: 70%; */
/* width: fit-content; */
/* height: min-content; */
/* border: 2mm solid navy; */
/* border-radius: 100%; */
/* margin-left: 50mm; */
/* margin-top: 1mm; */
/* } */
